/* Reset & global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;

  }

  

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Styling for the Logo */
#logo-container {
    position: fixed;
    top: 20px;  /* Adjusts distance from the top of the page */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;  /* Higher than other elements */
}

#logo {
    height: 60px; /* Adjust the height of the logo */
    max-height: 10vh;
    width: auto;  /* Auto to keep the aspect ratio */
}


/* Bottom Bar Styling */
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top */
}

/* Individual Buttons */
.bottom-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 14px; /* Decrease font size */
    cursor: pointer;
    position: relative;
    padding: 5px 10px; /* Add some spacing inside the buttons */
}

/* Underline for Active Button */
.bottom-bar button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px; /* Adjust underline width */
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.bottom-bar button:hover::after {
    width: 50px; /* Make underline longer on hover */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* This ensures the video covers the entire screen while maintaining its aspect ratio */
    z-index: -1; /* This places the video behind all other content */
}


.map-container {
    position: fixed;  /* Keeps the container in the viewport */
    top: 50%;  /* Centers it vertically */
    left: 60%;  /* Centers it horizontally */
    transform: translate(-50%, -50%);  /* Shifts the element back by 50% of its own width and height to achieve perfect centering */
    width: 80%; /* Adjust the width based on your needs */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Ensures the GIF covers the entire container */
    background-position: center;
}


.map-image {
    position: absolute;
    width: 100%; /* Adjust width as needed */
    height: auto;
    z-index: 1; /* Lower z-index to ensure it's behind */
}

.dynamic-image {
    top: 0;
    left: 20;
    width: 98%; /* Same size as map-image */
    height: auto;
    opacity: 0.8; /* Optional transparency */
    z-index: 0; /* Higher z-index to bring it to the front */
    transition: opacity 1s ease;

}

#dynamic-image.fade-out {
    opacity: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    width: 5vw;
    height: 5vw;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0) 100%);
    background: rgba(58, 58, 58, 0);

}

.dot {
   position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition for both scale and color */

}

.dot:hover {
    transform: scale(1.2);
}

.dot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: absolute;
    bottom: 25px;
    left: -30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}


/* Content section for details */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%);
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen */
    z-index: -1; /* Make sure it's behind all other content */
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: white;
}

/* Left content section */
.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    margin-right: 15%;
    margin-top: 50%;
}
.right{
    margin-top: 50%;
}

.left img {
    width: 25vw;
    height: 25vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.location-name h2, .location-name h3 {
    font-size: 2vw;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-size: .5rem;
    margin: 10px 0;
    text-align: left;
}

/* Navigation arrows */
.left-arrow, .right-arrow {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Return button */
.return-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-button img {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    border-radius: 0%; /* This makes the image circular */
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.return-button img:hover {
    transform: scale(1.1); /* Add a hover effect to enlarge the image slightly */
}

.return-button p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.return-button img, .return-button p {
    cursor: pointer; /* Make the text and image clickable */
}


/* Hide sections by default */
.hidden {
    display: none;
}

.sidebar {
    position: fixed;
    left: 40px;
    top: 80px;
    bottom: 80px;
    width: 350px;
    gap: calc(25px + .7em);
    /* height: 75vh; Full viewport height deleted using bottom 80px instead of set height */
    background-color: transparent; /* Fully transparent background */
    padding: 20px;
    color: white;
    overflow-y: auto; /* Keeps the content scrollable internally if needed */
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

@media (max-width: 560px) {
    .sidebar {
        left:0px;
        top: 40%;
        bottom:65px;
    }
    .map-container {
        top: 25%;  /* Centers it vertically */
        left: 50%;  /* Centers it horizontally */
        width: 90%;
    }
}

.sidebar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit browsers like Chrome, Safari */
}


.sidebar ul {
    list-style-type: none;
    padding: 5px;
    font-size: 0.9em;
    /* margin-bottom: 15px; */
    margin-top: 8px;
}
/* Grid layout for icons and links */

/* Icon image styling */
.icon {
    width: 20px; /* Set icon width */
    height: auto;
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
}


.city {
    
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;

}

.sidebar li {
    margin-bottom: .7em;
}

.sidebar a {
    color: #f6f1f1;
    text-decoration: none;
    
}

.sidebar a:hover {
    text-decoration: underline;
}




/* Background Container */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it's behind all content */
    transition: background-image 0.5s ease-in-out; /* Add smooth transition for background image */
}


/* Ensure sections are hidden except the active one */
.hidden {
    display: none;
}

.background-container {
    background-color: black;
}


.hero-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80%; /* Full screen height */
    
}

.hero-logo {
    max-width: 70vh; /* Set the maximum width of the logo */
    /* max-height: vh; */
    padding-right: 40px;
    padding-left: 20px;
    width: 100%; /* Make the logo responsive */
    
}


/* Faculty Container */
.faculty-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    color: white;
}

/* Faculty Column Styling */
.faculty-column {
    width: 45%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/* Profile Sidebar */
.profile-sidebar {
    position: fixed;
    left: 0;
    top: 80px; 
    width: 10%;
    height: calc(100% - 80px); 
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center;    /* Horizontally center the content */
    margin: 10px;
    z-index: 1001; 
}
/* Sidebar Options */
.profile-sidebar-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    color: white;
    text-align: center;
}

.profile-sidebar-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.profile-sidebar-option p {
    font-size: 16px;
}

/* Main Content */
.profile-main-content {
    margin-left: 10%; /* 确保内容与 sidebar 对齐 */
    /* margin-bottom: 80px; */
    padding: 20px;
    padding-top: 10%; /* 避免与顶部内容重叠 */
}

.profile-category {
    gap: 10px;
    flex: 1; /* Takes up half the screen */
    display: flex;
    align-items: flex-start; /* Align to the top with some padding */
    flex-wrap: wrap; /* Allow cards to wrap */
    padding: 20px;
    height: calc(100vh - 120px); /* Adjust height to account for top and bottom margins */
    overflow-y: auto; /* Allow scrolling if cards still overflow */
    box-sizing: border-box; /* Includes padding and margin in height calculation */
}

.profile-column {
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}


.profile-card {
    display: inline-table;
    width: 95px;
    margin: 10px;
    text-align: center;
    color: white;
}

.profile-card img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profile-info h3 {
    font-size: 1em;
    margin: 0;
}

.profile-info p {
    font-size: 0.6em;
    text-align: center;
}

/* Hidden Content */
.hidden {
    display: none;
}


/* 隐藏默认鼠标指针 */


.cursor-dot {
    position: absolute;
    width: 15px; /* 默认光点大小 */
    height: 15px;
    background: radial-gradient(circle, rgba(57, 255, 20, 1) 0%, rgba(57, 255, 20, 0.3) 60%, rgba(57, 255, 20, 0) 100%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

/* 光点变大 */
.cursor-dot.hover {
    width: 30px; /* 悬停时光点宽度 */
    height: 30px; /* 悬停时光点高度 */
    transform: scale(1.5);
}



  /* 背景图片 */

  .project-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: background-image 0.5s ease-in-out;
}

.project-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* 项目容器 */
.projects-container {
    position: absolute;
    bottom: 10%; /* Align the container to the bottom of the page */
    width: 100%;
    display: flex; /* Use flexbox to align and distribute items */
    justify-content: space-around; /* Space items evenly across the width */
    align-items: flex-end; /* Align items to the bottom of the container */
    padding: 10px; /* Add some padding at the bottom */
    box-sizing: border-box; /* Include padding in height and width calculations */
    height: auto; /* Automatically adjust the height to fit content */
}

.project-item {
    flex: 1; /* Allow items to grow and shrink with the container */
    max-width: 15%; /* Prevent items from becoming too wide */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5px; /* Add some spacing between items */
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}


.project-item img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-item img:hover {
    transform: scale(1.05);
}

.project-info {
    position: absolute;
    bottom: 10%;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
}

/* Dim all other objects except the hovered one */
.projects-container .project-item:not(:hover) {
    filter: brightness(0.5); /* Dim others */
}

.students-faculty-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('image/Student/group.jpeg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    width: 100%;
    height: 100%;
    position: relative; /* Ensures the content is properly positioned on top */
    z-index: 0; /* Background stays behind the content */
}

.hero-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide any overflow */
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure the video is behind other content */
    object-fit: cover; /* Video covers the container */
    background-size: cover;
}



/* Lecture & Workshops Section Styles */
.lecture-workshops-section {
    display: flex;
    flex-direction: row; /* Ensures details and cards are side by side */
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    overflow: hidden; /* Prevents overflow issues */
}

/* Background for Lecture & Workshops */
.lecture-workshops-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full screen width */
    height: 100vh; /* Full screen height */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    z-index: -1; /* Ensure it's behind all content */
    transition: background-image 1.5s ease-in-out; /* Smooth transition for background image changes */
}

/* Left Details Section */
.lecture-details {
    flex: 1; /* Takes up half the screen */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align content to the left */
    color: white;
    z-index: 2; /* Above the background */
    background: rgba(0, 0, 0, 0); /* Optional translucent overlay */
    height: 100%; /* Full height to match the section */
    overflow-y: auto; /* Allow scrolling if content overflows */
}

.lecture-details h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}


.lecture-details p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.lecture-details .lecture-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
/* Right Cards Section */
.lecture-cards {
    flex: 1; /* Takes up half the screen */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top with some padding */
    gap: 20px;
    flex-wrap: wrap; /* Allow cards to wrap */
    padding: 20px;
    height: calc(100vh - 120px); /* Adjust height to account for top and bottom margins */
    margin: 60px 0; /* Adds space to the top and bottom */
    overflow-y: auto; /* Allow scrolling if cards still overflow */
    box-sizing: border-box; /* Includes padding and margin in height calculation */
}

@media (max-width: 560px) {
    .lecture-details {
        padding: 20px;
    }
    .lecture-details h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .lecture-details p {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .lecture-cards {
        padding: 10px;
        gap: 15px;
        margin: 90px 0;
        height: calc(100vh - 180px);
    }
    .lecture-card h3 {
        margin: 10px 0; /* Add some vertical spacing */
        color: white;
        font-size: 1.2em;
        text-align: center;
        z-index: 2; /* Ensure the text appears above any overlapping elements */
    }
    

}


/* Lecture Card Styles */
.lecture-card {
    max-width: 200px;
    height:fit-content;
    width: 100%;
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative; /* Positioning context for absolute elements if needed */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

/* Title Styling */
.lecture-card h3 {
    margin: 10px 0; /* Add some vertical spacing */
    color: white;
    font-size: 1.2em;
    text-align: center;
    z-index: 2; /* Ensure the text appears above any overlapping elements */
}

/* Image Styling */
.lecture-card img {
    width: 100%;
    height: 70%;
    flex-grow: 1; /* Allow image to fill the remaining space */
    object-fit: cover;
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom only */
    transition: transform 0.5s ease-in-out;
}

/* Hover Effect for Image */
.lecture-card:hover img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Optional: Adjusting the card's hover effect */
.lecture-card:hover {
    transform: translateY(-5px); /* Lift the card slightly on hover */
}


/* Background image container */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out; /* Smooth transition */
}

/* Project info section */
.project-info {
    position: absolute; /* Position relative to the container */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; /* Prevent it from being too wide */
    width: fit-content; /* Adjust to content size */
}


.project-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1.2rem;
}
