/* Reset & global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
  }

  

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Styling for the Logo */
#logo-container {
    position: fixed;
    top: 20px;  /* Adjusts distance from the top of the page */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;  /* Higher than other elements */
}

#logo {
    height: 60px; /* Adjust the height of the logo */
    width: auto;  /* Auto to keep the aspect ratio */
}


/* Bottom Bar Styling */
.bottom-bar {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 20px 40px; /* Increase padding for top-bottom and left-right */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top */
}

/* Individual Buttons */
.bottom-bar button {
    background: none;
    border: none;
    color: white;
    font-size: 14px; /* Decrease font size */
    cursor: pointer;
    position: relative;
    padding: 5px 10px; /* Add some spacing inside the buttons */
}

/* Underline for Active Button */
.bottom-bar button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px; /* Adjust underline width */
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.bottom-bar button:hover::after {
    width: 50px; /* Make underline longer on hover */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* This ensures the video covers the entire screen while maintaining its aspect ratio */
    z-index: -1; /* This places the video behind all other content */
}


.map-container {
    position: fixed;  /* Keeps the container in the viewport */
    top: 50%;  /* Centers it vertically */
    left: 60%;  /* Centers it horizontally */
    transform: translate(-50%, -50%);  /* Shifts the element back by 50% of its own width and height to achieve perfect centering */
    width: 80%; /* Adjust the width based on your needs */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Ensures the GIF covers the entire container */
    background-position: center;
}

.map-image {
    width: 80%; /* Make the image responsive */
    height: auto;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    width: 10vw;
    height: 10vw;
    background-color: rgba(100, 150, 255, 0.5);
}

.dot {
   position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition for both scale and color */

}

.dot:hover {
    transform: scale(1.2);
}

.dot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: absolute;
    bottom: 25px;
    left: -30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}


/* Content section for details */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen */
    z-index: -1; /* Make sure it's behind all other content */
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
}

/* Left content section */
.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15%;
}

.left img {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.location-name h2, .location-name h3 {
    font-size: 2vw;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-size: 1.2vw;
    margin: 10px 0;
    text-align: left;
}

/* Navigation arrows */
.left-arrow, .right-arrow {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Return button */
.return-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-button img {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image covers the whole circle */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.return-button img:hover {
    transform: scale(1.1); /* Add a hover effect to enlarge the image slightly */
}

.return-button p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.return-button img, .return-button p {
    cursor: pointer; /* Make the text and image clickable */
}


/* Hide sections by default */
.hidden {
    display: none;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 80px;
    width: 350px;
    height: 70vh; /* Full viewport height */
    background-color: transparent; /* Fully transparent background */
    padding: 20px;
    color: white;
    overflow-y: auto; /* Keeps the content scrollable internally if needed */
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit browsers like Chrome, Safari */
}


.sidebar ul {
    list-style-type: none;
    padding: 5px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Background Container */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it's behind all content */
    transition: background-image 0.5s ease-in-out; /* Add smooth transition for background image */
}


/* Ensure sections are hidden except the active one */
.hidden {
    display: none;
}

.background-container {
    background-image: url('image/886A4A39-9DC9-489A-9B3D-D770D9200BB9_1_105_c 2.jpg'); /* Use a known path for testing */
}

/* Hover image container styling */
.hover-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    width: 50vw; /* Adjust width as needed */
    height: auto;
    z-index: 3;
}

/* Hover image styling */
.hover-image {
    width: 100%;
    height: auto;
}

/* Hover dots container styling */
.hover-dots-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Hover dot styling */
.hover-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0; /* Initially hidden */
}

.hover-dot.active {
    opacity: 1; /* Show when active */
}
